
/**************** 
****** VARS *****
*****************/

$joshAqua: #077272;

$linkColor: #026594;

$linkHover: #0295BC;

$socialFontSize: 32px;

$homePageLinkFontSize: 120px;

$otherHeaderSize: 40px;

$genericBodyColor: #191919;